<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>FischerWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ControllerCliente</display-name>
    <servlet-name>ControllerCliente</servlet-name>
    <servlet-class>controller.ControllerCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerCliente</servlet-name>
    <url-pattern>/ControllerCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerUtenteRegistrato</display-name>
    <servlet-name>ControllerUtenteRegistrato</servlet-name>
    <servlet-class>controller.ControllerUtenteRegistrato</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerUtenteRegistrato</servlet-name>
    <url-pattern>/ControllerUtenteRegistrato</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerNuovoUtente</display-name>
    <servlet-name>ControllerNuovoUtente</servlet-name>
    <servlet-class>controller.ControllerNuovoUtente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerNuovoUtente</servlet-name>
    <url-pattern>/ControllerNuovoUtente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerLavoroPerId</display-name>
    <servlet-name>ControllerLavoroPerId</servlet-name>
    <servlet-class>controller.ControllerLavoroPerId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerLavoroPerId</servlet-name>
    <url-pattern>/ControllerLavoroPerId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerLavoriPrenotati</display-name>
    <servlet-name>ControllerLavoriPrenotati</servlet-name>
    <servlet-class>controller.ControllerLavoriPrenotati</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerLavoriPrenotati</servlet-name>
    <url-pattern>/ControllerLavoriPrenotati</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerFeedPrenotazioni</display-name>
    <servlet-name>ControllerFeedPrenotazioni</servlet-name>
    <servlet-class>controller.ControllerFeedPrenotazioni</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerFeedPrenotazioni</servlet-name>
    <url-pattern>/ControllerFeedPrenotazioni</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerProfilo</display-name>
    <servlet-name>ControllerProfilo</servlet-name>
    <servlet-class>controller.ControllerProfilo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerProfilo</servlet-name>
    <url-pattern>/ControllerProfilo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerModificaLavoro</display-name>
    <servlet-name>ControllerModificaLavoro</servlet-name>
    <servlet-class>controller.ControllerModificaLavoro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerModificaLavoro</servlet-name>
    <url-pattern>/ControllerModificaLavoro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerModificaProfilo</display-name>
    <servlet-name>ControllerModificaProfilo</servlet-name>
    <servlet-class>controller.ControllerModificaProfilo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerModificaProfilo</servlet-name>
    <url-pattern>/ControllerModificaProfilo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerRimuoviLavoroPrenotato</display-name>
    <servlet-name>ControllerRimuoviLavoroPrenotato</servlet-name>
    <servlet-class>controller.ControllerRimuoviLavoroPrenotato</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerRimuoviLavoroPrenotato</servlet-name>
    <url-pattern>/ControllerRimuoviLavoroPrenotato</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerRimuoviPrenotazione</display-name>
    <servlet-name>ControllerRimuoviPrenotazione</servlet-name>
    <servlet-class>controller.ControllerRimuoviPrenotazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerRimuoviPrenotazione</servlet-name>
    <url-pattern>/ControllerRimuoviPrenotazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerUtentePerId</display-name>
    <servlet-name>ControllerUtentePerId</servlet-name>
    <servlet-class>controller.ControllerUtentePerId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerUtentePerId</servlet-name>
    <url-pattern>/ControllerUtentePerId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxHandler</display-name>
    <servlet-name>AjaxHandler</servlet-name>
    <servlet-class>servlet.AjaxHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxHandler</servlet-name>
    <url-pattern>/AjaxHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DropDownRegione</display-name>
    <servlet-name>DropDownRegione</servlet-name>
    <servlet-class>servlet.DropDownRegione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DropDownRegione</servlet-name>
    <url-pattern>/DropDownRegione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MvcDemoServlet</display-name>
    <servlet-name>MvcDemoServlet</servlet-name>
    <servlet-class>servlet.MvcDemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MvcDemoServlet</servlet-name>
    <url-pattern>/MvcDemoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MvcDemoServletTwo</display-name>
    <servlet-name>MvcDemoServletTwo</servlet-name>
    <servlet-class>mvc2.MvcDemoServletTwo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MvcDemoServletTwo</servlet-name>
    <url-pattern>/MvcDemoServletTwo</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/classe</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>jdbc.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudenteControllerServlet</display-name>
    <servlet-name>StudenteControllerServlet</servlet-name>
    <servlet-class>eserciziostudenti2.StudenteControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudenteControllerServlet</servlet-name>
    <url-pattern>/StudenteControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServletTwo</display-name>
    <servlet-name>TestServletTwo</servlet-name>
    <servlet-class>eserciziostudenti2.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServletTwo</servlet-name>
    <url-pattern>/TestServletTwo</url-pattern>
  </servlet-mapping>
</web-app>